.header {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: blueviolet;
  background-color: black;
}

.title {
  display: flex;
  justify-content: center;
}

.title__p {
  display: flex;
  justify-content: center;
}
